#hero {
    position: relative;
    min-height: 560px;
    height: calc(100vh - 245px);
    background-image: url("../src/images/hero-section.png");
    background-repeat: no-repeat;
    background-position: 90% 100%;
    background-size: cover;
    color: white;
}

#hero h1 {
    font-family: Prata, open-sans;
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 500;
    padding: 0 10px 0;
    width: 70%;
}
#hero p {
    padding: 40px 0 40px;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 1.1px;
    width: 55%;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--overlay-color);
    opacity: 0.3;
}

#hero .hero-wrapper {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#hero .hero-wrapper .btn-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#hero a {
    text-decoration: none;
}
#hero a i {
    font-size: 12px;
}

#hero .social-wrap {
    margin-top: 30px;
}
#hero .social-wrap a {
    color: var(--color-white);
    text-decoration: none;
}
#hero .social-wrap a:hover i {
    transform: scale(1.5);
    color: var(--primary-color);
}
#hero .social-wrap a i {
    font-size: 46px;
    transition: all 400ms ease-in-out;
    margin: 0 20px 0;
}

@media screen and (max-width: 540px) {
    #hero .hero-wrapper {
        margin: 0 10px 0;
    }

    #hero h1 {
        font-size: 2rem;
        line-height: 1.1;
        width: 90%;
        min-width: 356px;
    }
    #hero p {
        font-size: 1rem;
        line-height: 1.3;
        letter-spacing: 1px;
        width: 70%;
    }
}

/* #quote */
#quote {
    background-color: var(--graci-color-1);
}
#quote .quote-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 170px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    min-width: 300px;
    position: relative;
    width: 90%;
    margin: 0 auto;
}
/* border */
#quote .quote-wrapper::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--white-color);
    width: 80%;
    position: absolute;
    bottom: -1px;
}
#quote .quote-wrapper p {
    width: 70%;
    font-family: Prata;
    padding: 30px 50px 0;
}
#quote .quote-wrapper span {
    margin: 20px;
    margin-right: 20%;
    align-self: flex-end;
}
