#hero {
    height: calc(100vh - 280px);
    background-image: url("../src/images/hero-section.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    color: white;
}

#hero h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 500;
}
