#procedure-hero {
    position: relative;
    min-height: 400px;
    height: 50vh;
    background-image: url("../src/images/lifting-procedure.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}
