#service-preview {
    background-color: var(--background-color-primary);
    /* background: linear-gradient(var(--secondary-color), var(--primary-color)); */

    padding-bottom: 30px;
}
.service-preview-title {
    font-size: 2rem;
    font-family: Prata;
    text-align: center;
    color: var(--black-color);
    padding: 30px;
}
.preview-card-list {
    display: flex;
    flex-direction: column;
    justify-items: s;
    align-items: stretch;
    width: 80%;
    margin: 0 auto 0;
    gap: 20px;
}
.preview-card-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: var(--background-color-card);
}
.preview-img-container {
    position: relative;
    height: 50%;
}
.preview-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.preview-img-container > span {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    background-color: var(--primary-color);
    padding: 6px 10px;
    border-radius: 21px;
    opacity: 0.8;
}
.preview-content {
    position: relative;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
.preview-content .btn {
    padding: 6px 12px;
    width: 30%;
    align-self: center;
    margin: 20px;
    font-size: 14px;
}

.preview-content h3 {
    font-family: Prata, sans-serif;
    font-size: 1.5rem;
    margin: 15px 20px 15px;
}
.preview-content p {
    margin: 0 20px 0;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

@media screen and (min-width: 768px) {
    .preview-card-list {
        width: 86%;
        margin: 0 auto 0;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }
    .preview-card-item {
        width: 45%;
    }
    .preview-content .btn {
        font-size: 16px;
    }

    .preview-content h3 {
        margin: 30px 20px 20px;
        height: 25%;
    }
    .preview-content p {
        height: 50%;
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    #service-preview {
        padding-bottom: 60px;
    }
    .preview-card-list {
        justify-content: flex-start;
        width: 76%;
        column-gap: calc(10% / 2);
        row-gap: 30px;
    }
    .preview-card-item {
        width: 30%;
    }
    .service-preview-title {
        padding: 60px;
    }
}
