@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
:root {
    /* ---colors--- */
    --primary-color: #773749;
    --primary-color: #80145f;
    --secondary-color: #f59b90;
    --tertiary-color: #b22b8a;
    --background-color-card: rgb(248, 200, 200);
    --overlay-color: #000;
    --white-color: #ffffff;
    --white-color-menu-transperant: #fffffff3;
    --black-color: #000;
    /* --background-color-primary: #faebd7; */
    --background-color-primary: #f8eef5;
    --footer-heading-size-main: 1.5rem;
    --footer-heading-size: 1.25rem;
    --footer-heading-weigth: 500;
    --main-heading-font-family: Prata;
}
