@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
:root {
    /* ---colors--- */
    --primary-color: #773749;
    --primary-color: #b22b8a;
    --primary-color: #80145f;
    --secondary-color: #f59b90;
    --overlay-color: #000;
    --white-color: #ffffff;
}
