.sub-navigation {
    position: absolute;
    top: 50px;
    width: calc(100vw);
    z-index: 1;
    background-color: var(--white-color);
    height: min(100vh);
    /* height: min(auto); */
    opacity: 0.95;
    display: none;
}
#sub-navigation .sub-navigation-list > li {
    position: relative;
}
#sub-navigation .sub-navigation-list > li > a {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
#sub-navigation .sub-navigation-list > li > a > i {
    font-size: 12px;
    position: absolute;
    right: 30px;
}
#sub-navigation .sub-sub-navigation-list > li > a {
    color: var(--black-color);
    text-decoration: none;
}
.sub-navigation-item {
    padding: 30px 30px 30px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sub-navigation:hover > ul > li zzzzzz {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: red;
}
.sub-sub-navigation-list {
    display: none;
    padding: 10px 30px 10px 30px;
    background-color: aqua;
}
.hide-it {
    display: none;
}
