.toogle-menu {
    /* background: linear-gradient(var(--primary-color), var(--secondary-color)); */
    /* background: linear-gradient(var(--white-color), #f8eef5); */
    background: #f8eef5;
    /* border-radius: 8px; */
    position: fixed;
    top: 15px;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    opacity: 0.9;
    transition: top 1.8s ease-in-out, opacity 0.8s ease-in;
    z-index: 1;
    overflow: hidden;
}
.toogle-menu li {
    margin-top: 5px;
}
.toogle-menu li a {
    /* color: var(--white-color); */
    color: rgb(61, 7, 48);
    text-decoration: none;
    font-size: 16px;
}
.toogle-menu li a:hover {
    /* color: var(--secondary-color); */
    color: #eb1bac;
}
.toogle-menu li a.heading {
    font-weight: 700;
    margin-top: 20px;
    padding: 3px 0;
    display: block;
    text-transform: uppercase;
}
.toogle-menu li a#close-menu {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 30px;
    right: 5%;
}
.closed {
    top: -230x;
    opacity: 0;
    z-index: -1;
}
.none {
    display: none;
}
.toogle-menu li a.heading.selected {
    /* color: var(--secondary-color); */
    color: #eb1bac;
}

@media screen and (min-width: 768px) {
    .toogle-menu {
        position: absolute;
        top: 246px;
        left: calc((100vw - 200px - 56px - 65px - 87px - 73px) / 2);
        right: calc((100vw - 200px - 56px - 65px - 87px - 73px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    /* .toogle-menu {
        left: 33%;
        right: 33%;
    } */
}
